@model List<MySportShop.Models.Models.ViewModel.CartVM>

<div class="container">

    <div class="row mt-4 mb-4">
        <div class="col">
            <h2>Cart</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a asp-action="Index">Edit</a>
        </div>
    </div>
    <form method="post" asp-controller="Cart" asp-action="CreateOrder">
        @for (int i = 0; i < Model.Count(); i++)
        {         
                <div class="row">

                    <input asp-for="@Model[i].Product.ProductId" name="id" hidden />
                    <div class="col-sm-4">

                        <img src="@WC.ImagePath@Model[i].Product.Image" width="100%" style="border-radius:5px; border:1px solid #bbb" />
                    </div>
                    <div class="col-sm-3">
                        <p> @Model[i].Product.Name</p>
                    </div>
                    <div class="col-sm-3">
                        <input asp-for="@Model[i].Quantity" class="form-control" />
                    </div>
                    <div class="col">

                        <p>@Model[i].Product.Price грн</p>
                        <button type="submit" class="btn btn-danger mx-2">
                            <i class="far fa-trash-alt">   </i>
                        </button>

                    </div>
                </div>
        }
        <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-success mx-2">Confirm Order</button>
                </div>

            <div class="col-6">
                <a asp-action="Index" asp-controller="Home">Back</a>
            </div>
        </div>
    </form>
</div>